{% extends "layout.html" %}
{% block body %}
  Here are some stats about...
  <div class="section username">{{ twitter_user.screen_name }}</div>
  <div style="width: 67%; margin-left: auto; margin-right: auto;">
    <div style="width: 51%; margin-left: 20px; display: inline-block;">
      <div class="section">Followers: </div>
      <div class="huge">{{ twitter_user.followers_num }}</div>
    </div>
    <div style="width: 30%; margin-left: 20px; display: inline-block;">
      <div class="section">Following: </div>
      <div class="huge">{{ twitter_user.following_num }}</div>
    </div>
  </div>
  <ul>
    <!-- Tweet stats -->
    <li>
      <div class="section">A breakdown: </div>
      <div class="firsttweet">
        <div>
          <div class="tweettime big">Your first tweet was on...</div>
          <div class="big">{{ twitter_user.num_tweets[1] }}</div>
        </div>
      </div>

      <ul class="entries">
        <li>
          <div class="tweettime">Total Tweets:</div>
          <div class="big">{{ twitter_user.num_tweets[0] }}</div>
        <li>
          <div class="tweettime">Tweets per day:</div>
          <div class="big">{{ twitter_user.num_tweets[2] }}</div>
        <li>
          <div class="tweettime">Average hashtags per tweet:</div>
          <div class="big">{{ twitter_user.hashtags_per_tweet }}</div>
        <li>
          <div class="tweettime">Average favorites per tweet:</div>
          <div class="big">{{ twitter_user.favorites_per_tweet }}</div>
        <li>
          <div class="tweettime">Average swears per tweet:</div>
          <div class="big">{{ twitter_user.curses_per_tweet }}</div>
      </ul>
    <!-- Recent tweets -->
    <li>
      <div class="section">Some recent tweets: </div>
      <ul class="entries">
      {% for tweet in twitter_user.tweets[:5] %}
        <li><div class="tweettime">{{ tweet.time_created|safe }}</div>
          {{ tweet.text|safe }}
          <div class="little">Favorites: {{ tweet.favorite_count }} Retweets: {{ tweet.retweet_count }}</div>
      {% endfor %}
      </ul>
    <!-- Most popular -->
    <li>
      <div class="section">Most popular tweet: </div>
      <div class="mostpopular">
        <div>
          <div class="tweettime big">{{ twitter_user.most_pop.time_created|safe }}</div>
          <div class="big">{{ twitter_user.most_pop.text|safe }}</div>
          <div class="little brightblue">Favorites: {{ twitter_user.most_pop.favorite_count }} Retweets: {{ twitter_user.most_pop.retweet_count }}</div>
        </div>
      </div>
    <!-- Least popular -->
    <li>
      <div class="section">Least popular tweet: </div>
      <div class="mostpopular">
        <div>
          <div class="tweettime big">{{ twitter_user.least_pop.time_created|safe }}</div>
          <div class="big">{{ twitter_user.least_pop.text|safe }}</div>
          <div class="little brightblue">Favorites: {{ twitter_user.least_pop.favorite_count }} Retweets: {{ twitter_user.least_pop.retweet_count }}</div>
        </div>
      </div>
  </ul>

{% endblock %}